body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    background: linear-gradient(45deg, rgb(43, 205, 226), rgb(20, 161, 255));
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.column {
    display: flex;
    background: linear-gradient(45deg, rgb(43, 205, 226), rgb(20, 161, 255));
}

.art {
    flex: 1;
    margin-right: 10px;
    float: left;
    border: 2px solid #000;
}

.art {
    flex: 1;
    background: linear-gradient(45deg, rgb(43, 205, 226), rgb(20, 161, 255));
    margin-right: 10px;
    width: 900px;
    float: left;
    border: 2px solid #000;
}

.content {
    background: linear-gradient(45deg, blueviolet, deeppink);
    margin: 20px;
    padding: 20px;
    border: 1px solid #000000;
}

.typography-example p {
    font-family: 'Georgia', serif;
    font-size: 20px;
}

.typography-example p {
    text-align: left;
    line-height: 1.6;
}

#uniqueDiv {
    background-color: #64b5f6;
    font-size: 18px;
}

.sidebar {
    background: linear-gradient(45deg, blueviolet, deeppink);
    margin-left: 10px;
    width: 400px;
    float: right;
    color: #fff;
    border: 2px solid #000;
    text-align: center;
}

footer {
    background-color: #333;
    text-align: center;
    border: 2px solid #000;
    color: #fff;


}